html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

         clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---Кнопки---*/

.button {
  display: inline-block;

  padding: 15px 40px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;

}

.button:hover,
.button:focus {
   background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
/*---Кнопки---*/

/*---Шапка---*/

.main-header {
  width: 100%;

  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-top: 49px;
}

.main-logo {
  margin-right: 156px;
  width: 160px;
  height: 65px;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  margin-top: 21px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.site-navigation li {
  margin-left: 46px;
}

.site-navigation .active {
  border-bottom: 2px solid #fb565a;
}

.site-navigation a,
.cart-link {
  font-size: 16px;
  line-height: 38px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
 .cart-link:hover,
 .cart-link:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a {
  display: block;

}

.cart-link {
  position: relative;

  margin-top: 21px;
  margin-left: auto;
  padding-left: 41px;

  text-align: right;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 0px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*---Шапка---*/

/*---Слайдер---*/

.slider {
  position: relative;

  height: 431px;

  background-color: #eeeeee;
}

.slider-controls {
  box-sizing: content-box;/*Тут не border-box*/

  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;

  transform: translateX(-50%);
}

.slider-controls a {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
  vertical-align: baseline;
}

.slider-controls a::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active-slide::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slide-1 {
  display: block;
}

.slide-1 {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 99%  0;
}

.slide-2 {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide-3 {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
}

.slide-title {
  display: block;

  max-width: 600px;
  margin: 0;
  padding-bottom: 25px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item .button {
  margin-top: 40px;
  padding: 16px 54px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

/*---Слайдер---*/

/*---MAIN---*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right:20px;
  padding-left: 20px;
  width: 1200px;
}


/*---Услуги---*/

.services {
  padding: 80px 0;
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-right: 60px;

  list-style: none;
}

.services-list li {
  width: 300px;
}

.services-list li:not(:nth-child(3n)) { /*---Вдруг еше услуги появятся ---*//*--У тебя было :not(:last-child)-- И я припиской объясняю почему я решила поставить 3n */
  margin-right: 100px;
}

.service-item {
  padding-top: 170px;

  background-repeat: no-repeat;
  background-position: 0 0;

}

.service-item-web {
  background-image: url("../img/illustration-1.png");

}

.service-item-app {
  background-image: url("../img/illustration-2.png");
}


.service-item-presentation {
  background-image: url("../img/illustration-3.png");
}

.service-item h3 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.service-item p {
  display: block;
  max-width: 250px;

  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  color:  rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*---Услуги---*/

/*---О нас---*/

.about {
  display: flex;
  justify-content: space-between;

  padding-top: 40px;
  padding-bottom: 74px;

}

.column-left {
  margin-top: 35px;
  width: 660px;

}

.about-lead {
  display: inline-block;

  margin: 0;
  padding: 0;
}

.about-lead b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;

  vertical-align: baseline;
}

.about-info p + p {
  margin-top: 33px;
}

.features {
  margin-top: 39px;
}

.features p {
  margin: 0;
  padding: 0;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;

  vertical-align: baseline;
}

.features-list li {
  position: relative;

  padding-left: 36px;
}

.features-list li + li {
  margin-top: 23px;
}

.features-list li::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 1px;

  width: 25px;
  height: 2px;

background-color: #fb565a;
}

.features b {
  display: block;

  padding-bottom: 24px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages {
  width: 360px; /*---*/
}

.advantages-table {
  margin-top: 29px;
  width: 100%;

  border-collapse: collapse;
}

.advantages-table caption {
  margin-bottom: 42px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-table td {
  margin: 0;
  padding: 0;
  width: 33.33333%;
}

.advantages-percents td {
  font-size: 45px;
  line-height: 45px;/*в макете 10.06*/
  font-weight: 700;
  color: #000000;
}

.advantages-percents sup {
  font-size: 28px;
}

.advantages-text  {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.advantages-text td {
  padding-top: 18px;
  line-height: 18px;
}

/*--О нас--*/

/*--Наши клиенты--*/
.clients {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;

}

.clients-list li {
  display: block;
  position: relative;

  width: 300px;
  height: 180px;
}

.clients-list li:first-child, /*--Тест на переполнение--*/
.clients-list li:last-child {
  width: 280px;
}

.clients-list li:first-child {
  padding-top: 10px;
  padding-right: 20px;
}

.clients-list li:last-child {
  padding-top: 5px;
  padding-left: 20px;
}

.clients-list li:not(:nth-child(4n))::after {
  content: "";

  position: absolute;
  top: 65px;
  right: -1px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0.2;
}

.client {
  opacity: 0.2;
}

.client:hover,
.client:focus {
  opacity: 1;
}

.client:active {
  opacity: 0.1;
}

/*--Наши клиенты--*/
/*О нас*/
/*--MAIN--*/


/*---Подвал---*/

.main-footer {
  margin-top: 80px;
}

.main-footer .container {
  display: flex;

}

.find-us {
  position: relative;

  margin: 0;
  padding: 0;
  /*max-height: 416px;/*--Если не задана ширина у меня появляетя белая полоса ниже карты  примерно 10px, которая не относится ни к одному элементу --*/

  background-color: #ffffff; /*#ccc?*/
}

.find-us iframe {
  position: relative;
  z-index: 2;

  margin: 0;
  width: 100%;
  height: 416px;

  border: none;
}

.find-us img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
  width: 100%;
  height: 416px;
}

.contacts {
  z-index: 3;
  position: absolute;

  top: 54px;
  left: 185px;

  padding: 50px 50px 47px;
  width: 319px;

  background-color: #ffffff;
}

.contacts p {
  margin-top: 0;
  margin-bottom: 18px;

  line-height: 18px;
  color: #666666;
}

.popup-open {
  margin-top: 15px;
  padding: 15px 43px;
}

.contacts .studio-name {
  margin-bottom: 23px;

  font-size: 18px;
  line-height: 30px; /*--28?--*/
  font-weight: 700;
  color: #000000;
}

.footer-social {
  display: flex;
  align-items: flex-start;
  padding: 69px 0;/*--Не попадает в PP--*/
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin: 0;
  margin-right: 128px;
  padding: 0;

  list-style: none;
}

.social-buttons li {
  margin-right: 11px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%
}

.social-button:focus,
.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button:active svg {
   opacity: 0.3;
}

.footer-promo p + p {
  margin-top: 10px;
}

.footer-promo p {
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.footer-promo b {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

/*---Подвал---*/

/*---Форма---*/
.contact-us {
  display: none;

	position: fixed;
	top: 50%;
	left: 50%;

  padding: 68px 100px 85px 100px;
	width: 960px;
  min-height: 590px;

  transform: translate(-480px, -295px);


	color: #000000;
	background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);

   z-index: 4;
 }

.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: #ffffff;
}

.form-close {
  position: absolute;
  top: 78px;
  right: 89px;

  width: 21px;
  height: 21px;

  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;

  opacity: 0.3;
}

.form-close:hover,
.form-close:focus {
  opacity: 1;
}

.form-close:active {
  opacity: 0.1;
}


.contact-us h2 {
  margin: 0;
  margin-bottom: 40px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.contact-item {
  margin: 0;
  margin-bottom: 30px;
}

.contact-item label {
  display: block;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.contact-item input {

  padding: 15px;
  padding-right: 15px;
  width: 360px;

  font-size: 16px;
  line-height: 18px;
  color: #444444;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}


.contact-form input:hover {
  border: 2px solid #b4b9bb;
}

.contact-form input:focus {
  color: #000000;

  border: 2px solid #000000;
}

.contact-form input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.contact-form textarea {
  padding: 14px;
  width: 760px;

  font-size: 16px;
  line-height: 18px;
  color: #444444;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  resize: none;

  outline: none;
}

.contact-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.contact-form textarea:focus {
  color: #000000;

  border: 2px solid #000000;
}

.contact-form textarea:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.contact-form button {
  display: block;

  margin-top: 5px;
  padding: 15px 0;
  width: 260px;
}

.popup-show {
  display: block;

  animation: popup-opening 0.6s;
}

.popup-error {
  animation: shake 0.6s;
}

@keyframes popup-opening {
  0% {
    transform: translate(-2000px, -2000px);
  }
  70% {
    transform: translateY(-200px, 30px);
  }
  90% {
    transform: translateY(-200px, -10px);
  }
  100% {
    transform: translateY(-200px, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-15px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(15px);
  }
}
/*---Форма---*/

/*Каталог*/

.page-title {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 105px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.inner-container {
  display: flex;
  justify-content: space-between;

  padding-top: 58px;
}

/*---Фильтр---*/

.filter {
  box-sizing: content-box;/*---*/

  width: 260px;
}


.filter fieldset {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  border: none;
}

.filter fieldset:last-of-type {
  margin-bottom: 29px;
}

.filter .filter-item {
    margin-bottom: 60px;/*---*/
}

.filter legend {
  margin-bottom: 21px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;

}

.filter-option,
.filter-feature {
  margin-bottom: 20px;
  padding-left: 36px;
}

.filter-option label,
.filter-feature label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-option label,
.filter-features label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-option label:hover,
.filter-option label:focus,
.filter-features label:hover,
.filter-features label:focus {
  color: #000000;
}

.filter-input-checkbox:disabled label,
.filter-input-radio:disabled label {
  color: #rgba(40, 49, 54, 0.3);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;


  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.4;
}



.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;


  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.1;
}


.filter-item {
  margin: 0;
  padding: 0;
  width: 260px;

  border: none;
}

.range-filter {
  width: 260px;

}

.filter-item legend {
  margin-bottom: 50px;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px 10px;
  margin-left: 9px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;

  vertical-align: baseline;
}

.max-price {
  text-align: right;
}


.filter-button {
  padding: 15px 89px;

  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*---Фильтр---*/

/*---Сортировка---*/
.catalog-sorting {
  display: flex;

  margin-bottom : 52px;
}


.catalog-sorting span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.test {
  margin-left: 267px;
}

.test a {
/*  position: relative;*/

  margin-right: 23px;

  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.test a:last-child {
  margin-right: 0;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sorting a:active,
.active {
  color: #000000;
}

.sort-updown a {
  position: relative;

  margin: 0;
  margin-left: auto;
}

.arrow-down::before {
  content: "";
  position: absolute;

  top: 5px;
  left: 45px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.2;
}

.arrow-down:hover::before,
.arrow-down:focus::before {
  opacity: 0.4;
}

.arrow-down:active::before {
  opacity: 1;
}

.arrow-up::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 75px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.2;
}

.arrow-up:hover::before,
.arrow-up:focus::before {
  opacity: 0.4;
}

.arrow-up:active::before {
 opacity: 1;
}

.sort-updown .active::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 45px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 1;
}
/*---Сортировка---*/

/*---Каталог---*/

.right-column {
  width: 760px;

}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin:0;
  padding: 0;
  margin-bottom: 27px;

  list-style: none;
}

.catalog-list li {
  width: 360px;
  margin-bottom: 33px;


  background-color: #e9e9e9;
}

.catalog-item {
  position: relative;
  overflow: hidden;

  padding-top: 40px;

  outline: 1px solid #e5e5e5;/*--Не рамка--*/
  border-radius: 3px 3px 0 0;
}

.catalog-item:hover {
  background-color: #4d4d4d;
}

.catalog-item::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 16px;
  width: 14px;
  height: 14px;

  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 23px 0 0 #ffffff, 46px 0 0 #ffffff;
}

.catalog-item img {
  width: 360px;
  height: 576px;

  vertical-align: middle;
}


.catalog-item-hidden {
  position: absolute;
  top:385px;

  height: 231px;
  width: 360px;
  padding-top: 7px; /*60px 43px 60px;*/
  padding-left: 80px;
  padding-right: 80px;


  opacity: 0;

  background-color: #eeeeee;

}

.catalog-item:hover .catalog-item-hidden {
  opacity: 1;

}

.catalog-item-price {
  display: block;

  width: 200px;

  margin-top: 30px;
  padding: 15px 0;
}

.item-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.item-title {
  text-align: center;
}

.catalog-item p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

/*---Каталог---*/

/*---Пагинация---*/

.pagination-list {
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: inline-block;

  margin-right: 8px;
  padding: 15px 20px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}


.pagination-item-current {
  padding: 13px 18px;

  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

.pagination-item-next {
  padding-left: 75px;
  padding-right: 75px;

  text-align: center;
}
/*---Пагинация---*/
/*--Каталог--*/

/*----Футер----*/
.inner-footer {
margin-top: 60px;
}
/*----Футер----*/
